<header class="mdl-layout__header">
	<div class="mdl-layout__header-row">
		<div class="mdl-layout-spacer"></div>

		<div class="material-icons mdl-badge mdl-badge--overlap mdl-button--icon notification" id="notification"
			data-badge="1">
			notifications_none
		</div>
		<!-- Notifications dropdown-->
		<ul class="mdl-menu mdl-list mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right mdl-shadow--2dp notifications-dropdown"
			for="notification">
			<li class="mdl-list__item">
				You have 1 new notifications!
			</li>
			<li class="mdl-menu__item mdl-list__item list__item--border-top">
				<span class="mdl-list__item-primary-content">
					<span class="mdl-list__item-avatar background-color--secondary">
						<i class="material-icons">error_outline</i>
					</span>
				<span>Database error</span>
				</span>
				<span class="mdl-list__item-secondary-content">
				<span class="label">1 min</span>
				</span>
			</li>
			<li class="mdl-list__item list__item--border-top">
			</li>
		</ul>

		<div class="avatar-dropdown" id="icon">
			<span>Kullanıcı İsmi</span>
			<img src="assets/images/portrait/user.png">
		</div>
		<ul class="mdl-menu mdl-list mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp account-dropdown"
			for="icon">
			<li class="mdl-list__item mdl-list__item--two-line">
				<span class="mdl-list__item-primary-content">
					<span class="material-icons mdl-list__item-avatar"></span>
					<span>Kullanıcı İsmi</span>
					<span class="mdl-list__item-sub-title">isim@domain.com</span>
				</span>
			</li>
			<li class="list__item--border-top"></li>
			<li class="mdl-menu__item mdl-list__item">
				<span class="mdl-list__item-primary-content">
					<i class="material-icons mdl-list__item-icon">account_circle</i>
					My account
				</span>
			</li>
			<li class="list__item--border-top"></li>
			<li class="mdl-menu__item mdl-list__item">
				<span class="mdl-list__item-primary-content">
					<i class="material-icons mdl-list__item-icon">settings</i>
					Settings
				</span>
			</li>
			<a href="login.html">
				<li class="mdl-menu__item mdl-list__item">
					<span class="mdl-list__item-primary-content">
						<i class="material-icons mdl-list__item-icon text-color--secondary">exit_to_app</i>
						Log out
					</span>
				</li>
			</a>
		</ul>
	</div>
</header>