
<div class="container-fluid">
   
    <div class="row">
      <div class="col-sm-10" >
          <div *ngIf="user.uid | async as uid; else login">
          </div>
          <ng-template #login >
          <form class="form-signin">
            <div class="text-center mb-4">
              <img class="mb-4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS1oldKc-YEVT0A2DHQ65cWPMBYAXDHGhG4nLB9P__35BFbe_BI" alt="" width="200" height="256">
              <h1 class="h3 mb-3 font-weight-normal">Giriş</h1>
          
            </div>
          
            <div class="form-label-group">
              <input type="email" id="inputEmail" class="form-control" placeholder="Email address" #userName required autofocus>
              <label for="inputEmail">Email address</label>
            </div>
          
            <div class="form-label-group">
              <input type="password" id="inputPassword" class="form-control" placeholder="Password" #userPassword required>
              <label for="inputPassword">Password</label>
            </div>
          
            <div class="checkbox mb-3">
              
            </div>
            <div id="ss">
              <div class="forgotPassword">
                <span routerLink="/register" >Register</span>
                <span routerLink= "/forgotPassword" id="register">Forgot Password? </span>
              </div>
            <input type="button" class="btn btn-primary" value="Giriş"  (click)="user.login(userName.value, userPassword.value)" routerLink="liste">
            <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2019</p>
          </div>
          </form>
          
          </ng-template>
          
          </div>
     
    </div>
  </div>

