<body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow" >
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/liste">whenTheRingBells </a>
      
      
      
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">

          <a class="nav-link" (click)="user.logout()"  href="#" *ngIf="(user.isOgrenciIsleri | async) || (user.isAdmin | async) || userTemp" >Sign out </a>
        </li>
        
      </ul>
    </nav>
    <div class="container-fluid" >
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar" *ngIf="(user.isOgrenciIsleri | async) || (user.isAdmin | async)|| (user.isOgrenci | async) || (user.isOgretmen | async)">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/Oders" *ngIf="(user.isOgrenci | async) || (user.isOgretmen | async) "> 
                  <span data-feather="shopping-cart"></span>
                  Dersler
                </a>
              </li>
            
              <li class="nav-item">
                <a class="nav-link" routerLink="/requests" *ngIf="(user.isOgrenciIsleri | async) || (user.isAdmin | async)"> 
                  <span data-feather="shopping-cart"></span>
                  Istek listesi
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/listAllCourses" *ngIf="(user.isOgrenciIsleri | async) || (user.isAdmin | async)|| (user.isOgrenci | async) || (user.isOgretmen | async)">
                  <span data-feather="users"></span>
                  TümDersleriGörüntüle
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/userProfil" *ngIf="(user.isOgrenciIsleri | async) || (user.isAdmin | async) || (user.isOgretmen | async)"> 
                  <span data-feather="bar-chart-2"></span>
                  TümKişilerProfil
                </a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" routerLink="/dersEkle" *ngIf="(user.isOgrenciIsleri | async) || (user.isAdmin | async)">
                  <span data-feather="layers"></span>
                 dersEkle
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/atama" *ngIf="(user.isOgrenciIsleri | async) || (user.isAdmin | async)">
                  <span data-feather="layers"></span>
                  Yetkilendirme
                </a>
              </li>
            </ul>
            
  
            
            
          </div>
        </nav>
  
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <p *ngIf=userTemp>{{userTemp.email}}</p>


          

            <router-outlet ></router-outlet>
              


            
        </main>
      </div>
    </div>
  </body>








