<body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow" *ngIf="(user.isOgrenciIsleri | async) || (user.isAdmin | async)|| (user.isOgrenci | async) || (user.isOgretmen | async)">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/liste">whenTheRingBells </a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search" *ngIf="(user.isOgrenciIsleri | async) || (user.isAdmin | async)">
      <ul class="navbar-nav px-3">
          <li  ngbDropdown class="nav-item dropdown">
              <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="(user.isOgrenciIsleri | async) || (user.isAdmin | async)">Dropdown</a>
              <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          
        </ul>
      
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          
          <a class="nav-link" (click)="user.logout()"  href="#" >Sign out </a>
        </li>
        
      </ul>
    </nav>
    <div class="container-fluid" >
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar" *ngIf="(user.isOgrenciIsleri | async) || (user.isAdmin | async)|| (user.isOgrenci | async) || (user.isOgretmen | async)">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/liste" *ngIf="(user.isOgrenciIsleri | async) || (user.isAdmin | async) ">
                  <span data-feather="file"></span>
                  Öğrenci işleri
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/requests" *ngIf="(user.isOgrenciIsleri | async) || (user.isAdmin | async) || (user.isOgretmen | async)"> 
                  <span data-feather="shopping-cart"></span>
                  Istek listesi
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/listAllCourses">
                  <span data-feather="users"></span>
                  TümDersleriGörüntüle
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin">
                  <span data-feather="users"></span>
                  Requests
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/studentaffairrequests">
                  <span data-feather="users"></span>
                  My Requests
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/studentaffair">
                  <span data-feather="users"></span>
                  Send Requests
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/userProfil" *ngIf="(user.isOgrenciIsleri | async) || (user.isAdmin | async) || (user.isOgretmen | async)"> 
                  <span data-feather="bar-chart-2"></span>
                  TümKişilerProfil
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/dersEkle" *ngIf="(user.isOgrenciIsleri | async) || (user.isAdmin | async) || (user.isOgretmen | async)">
                  <span data-feather="layers"></span>
                 dersEkle
                </a>
              </li>
            </ul>
  
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Saved reports</span>
              <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Current month
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Last quarter
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Social engagement
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Year-end sale
                </a>
              </li>
            </ul>
          </div>
        </nav>
  
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <p *ngIf=userTemp>{{userTemp.email}}</p>


          

            <router-outlet ></router-outlet>
              


            
        </main>
      </div>
    </div>
  </body>








