   <div class="row">
        
                    <div class="col-sm-4">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary" type="button" id="button-addon2" routerLink="/liste">Button</button>
                            </div>
                          </div>
      
                    </div>
            
                </div>
               <!-- Default inline 1-->
<div class="custom-control custom-checkbox custom-control-inline" >
  <input type="checkbox" class="custom-control-input" id="defaultInline1">
  <label class="custom-control-label" for="defaultInline1">Pazartesi</label>
</div>

<!-- Default inline 2-->
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input" id="defaultInline2">
  <label class="custom-control-label" for="defaultInline2">Salı</label>
</div>

<!-- Default inline 3-->
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input" id="defaultInline3">
  <label class="custom-control-label" for="defaultInline3">Çarşamba</label>
</div>
<!-- Default inline 2-->
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input" id="defaultInline4">
  <label class="custom-control-label" for="defaultInline4">Perşembe</label>
</div>

<!-- Default inline 3-->
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input" id="defaultInline5">
  <label class="custom-control-label" for="defaultInline5">Cuma</label>
</div>
                     

          
         
