<div id="ss">
<div class="formGroup" >
    <input type="email" class="form-control" placeholder="Email Address" #userEmail required>
  </div>
  <div class="formGroup">
    <input type="ad" class="form-control" placeholder="ad" #userN required>
  </div>

  <div class="formGroup">
    <input type="password" class="form-control" placeholder="Password" #userPwd required>
  </div>


  <div class="formGroup">
    <input type="button" class="btn btn-primary" value="Sign Up" (click)="us.SignUp(userEmail.value, userPwd.value,userN.value)">
  </div>
</div>